src/main/mule/training4-main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bf766bdd-da09-4655-96dd-e1b2ff286ede" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<import doc:name="Import" doc:id="9eb4d8ae-bfa9-4d2a-9072-38945a562c0f" file="templates.xml" />
	<flow name="training4-mainFlow" doc:id="a150d6a0-e52a-4116-bbce-e8940abcc4cc" >
		<http:listener doc:name="Listener" doc:id="9e0b8441-0f6a-4420-8849-d7943dab44da" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value="#[[]]" doc:name="Set Payload" doc:id="83ad7e65-d54e-4d78-96a0-a0bb8262dba9" />
		<flow-ref doc:name="Flow Reference" doc:id="00effa34-37d7-4a14-af7a-cfcaf6a59824" name="validateArray"/>
	</flow>
</mule>
